.table {
  display: table;
  width: 100%;
}

.row {
  display: table-row;
}

.cell1 {
  display: table-cell;
  padding: 5px;
  width:95%;
  border: 1px solid #ccc;
  border-right-width: 0px;
}
.cell2 {
  display: table-cell;
  padding: 5px;
  width:5%;
  border: 1px solid #ccc;
  border-left-width: 0px;
  box-shadow: 5px 5px #a0a0a0;
}
.cell3 {
  display: table-cell;
  padding: 5px;
  width:70%;
  border: 1px solid #ccc;
  box-shadow: 5px 5px #a0a0a0;
}
.cell4 {
  display: table-cell;
  background-color: #DCDCDC;
  padding: 5px;
  width:30%;
  border: 1px solid #ccc;
  box-shadow: 5px 5px #a0a0a0;
}