.bg{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQiXVpBQ6J3535bV97Q-o9vzV2VBiGtYoehheOpdyOUFsZHiCISqfK-hf70bDtP783Bas&usqp=CAU");
  background-size: cover;
  padding: 30px;
}
.table {
    display: table;
    width: 100%;
    background-color: #fffcfc;
    margin-left: 0px;
    margin-right: 40px;
  }
  
  .row {
    display: table-row;
  }
  
  .box1 {
    display: table-cell;
    padding: 10px;
    width:93%;
    border: 1px solid #ccc;
    border-right-width: 0px;
  }
  .box2 {
    display: table-cell;
    border: 1px solid #ccc;
    border-left-width: 0px;
    padding: 10px;
    width:5%;
  }
  .box3 {
    display: table-cell;
    height:10%;
    border: 1px solid #ccc;
    padding: 10px;
    width:59%;
  }
  .paycards{
    margin: 5px;
    border-width: 2px;
    border-color: darkgrey;
    display: flex;
    flex-direction: row;
    justify-content:start ;
  }
  .discover{
    
    width:200px;
    height: 140px;
    border-radius: 20px;
    margin-left: 15px;
    margin-top: 10px;
    margin-right: 8px;
  }
  .cartitems{
    display: table-cell;
    display: flex;
    flex-direction: column;
    justify-content:start ;
    background-color: #f7f7f7;
  }
  .item{
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 10px;
  }
  .iq{
    padding-bottom:1px;
    padding-right: 39%;
    padding-left: 10px;
  }

  .item1{
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 1px;
  }
  .iq1{
    padding-bottom:1px;
    padding-right: 70%;
    padding-left: 5px;
  }
  .imgb{
    border: 5px solid rgb(133, 133, 133);
  }