.bg-container {
    border: 1px solid #CCCCCC;
    box-shadow: 4px 2px 4px grey;
    font-family: "Roboto";
}

.nav-bar {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-bottom: 1px solid #CCCCCC;
}

.nav-bar__heading {
    font-size: 30px;
    margin-left: 20px;
}

.nav-bar__unordered-list {
    display: flex;
    margin-left: 100px;
}

.nav-bar__breadcrumb-item::after {
    content: "/";
    margin: 0 5px;
}

a {
    text-decoration: none;
    color: black;
}

.nav-bar__item {
    list-style-type: none;
    margin-left: 5px;
    margin-right: 5px;
    color: black;
}

.nav-bar__item--payment-method {
    font-weight: 900;
}

.nav-bar__x-mark-icon {
    font-size: 27px;
    margin-left: auto;
    margin-right: 20px;
}

.bg-container__span-wrapper {
    display: flex;
    align-items: center;
}

.span-wrapper__primary-title {
    background-color: #ffffff;
    font-size: 20px;
    width: 60%;
    padding: 10px;
}

.span-wrapper__secondary-title {
    background-color: #e0e0de;
    font-size: 20px;
    width: 40%;
    padding: 10px;
}