
.container{
    background-color: hsl(0, 0%, 79%);
    display: flex;
    padding: -50px;
    margin: 5px;
    height: 70px;
    justify-content: space-between;
    
}
.heading{
    margin: 0px 5px;

    
}
.nav-bar {
    display: flex;
    background-color: #cacaca;
    color: rgb(31, 31, 25);
    font-size: 15px;
    padding: px;
    margin: 0px;


}
.container1{
    background-color: #cacaca;
    display: flex;
    padding: 0px;
    margin: 5px;
}
.item {
   background-color: #cacaca;
    color: rgb(31, 31, 25);
    font-size: 15px;
    padding: -0.5px;
    margin: 10px;
    

}
.nav-bar__unordered-list{

display: flex;
padding: 25px;
    margin: 0px;
    font-size: 15px;
}
.padding{
    padding: 0px 20px;
}
.distance{
    margin-inline-end: auto;
}
.button{
    padding: 0px 290px;
}